svg {
	overflow:scroll;
}
text {
	font-family: NotoSans, 'Noto Sans', sans-serif;
	font-size:16px;
	fill:#231F20;
	text-anchor:middle;
	white-space:nowrap;
}
image {
	pointer-events:none;
}
#header > text {
	font-size:48px;
	font-weight:lighter;
	text-anchor:start;
}
circle {
	fill:white;
	stroke:#231F20;
}
.strong {
	font-weight:bold;
}
#header tspan.strong {
	fill:#767576;
}
.minuscule{
	font-size:10.45px;
}
.minusculeUL{
	font-size:10.45px;
	margin: -2px;
}
.headline{
	font-size:12.45px;
	font-weight: bold;
}
/* connecting line*/
.pathway > path,
.pathway > polygon {
	fill:#231F20;
	stroke:#231F20;
}
/* heuristic: if the path data doesn't have a c in it, we'll assume it's not a curved arrow*/
.pathway > path:not([d*="c"]) {
	stroke-width:5;
	marker-end:url(#head);
}
.arrow {
	fill:#231F20;
	stroke-width:4;
	stroke:#231F20;
	marker-end:url(#head);
}

g#end {
	fill:white;
}


g#end text {
    fill:transparent;
    stroke:transparent;
	font-size:36px;
}
/* box backgrounds*/
.grr, .lgr, .brr, .orr, .choicebox, .arr, .wrr, .nrr {
	stroke-width:4;
	stroke-miterlimit:10;
}
.hyperlink {
	fill:white;
	stroke:blue;
	stroke-width:2;
}
a .hyperlink foreignObject {
	color:blue;
	text-decoration:underline;
}
.lgr{
	fill:#FFFFFF;
	stroke:#767576;
	stroke-width:2.667;
}
.grr{
	fill:#EEF4EA;
	stroke:#4CA847;
}
.brr{
	fill:#ECF0F8;
	stroke:#4787C7;
}
.orr{
	fill:#FFEFE4;
	stroke:#F26C21;
}
.wrr{
	fill:#FFFFFF;
	stroke:#767576;
}
.lbr {
    fill: #ECF0F9;
    stroke: #4788C8;
    stroke-width: 3;
}

.gr {
    fill: #EDEBEB;
    stroke: #757576;
    stroke-width: 3;
}
.nrr{
	fill:rgba(0,0,0,0);
	stroke:rgba(0,0,0,0);
}
.choicebox{
	fill:#FCEEF4;
	stroke:#E83793;
}
.arr{
	fill:#edeceb;
	stroke:#767576;
}

.shock {
    fill: #FFFFFF;
    font-weight: bold;
    font-size: 14px;
}
#grid > line {
	stroke-width:0;
	stroke-dasharray:10;
}
.excl {
	font-size:38px;
}
/* focus related */
g[tabindex]:focus {
	outline:none;
}
a:focus > .hyperlink {
	fill: rgba(255,165,0, 0.5);
	stroke: rgb(255,165,0);
	stroke-width: 5px;
	outline:none;
}
g:focus > rect,
g:focus > path,
g:focus > polygon,
.pathway polygon.focused,
.pathway rect.focused {
	fill: rgba(255,165,0, 0.5);
	stroke: rgb(255,165,0);
}
.pathway > path.focused {
	stroke: rgb(255,165,0);
	fill:rgb(255,165,0);
}
.pathway > path:not([d*="c"]).focused {
	stroke-width: 5px;
	marker-end:url(#head-focus);
}
g:focus > text.shock {
	fill:black;
}
g#end:focus
 {
	stroke:#231F20;
	fill:#231F20;
}
g#end:focus text
 {
	fill:rgb(255,165,0);
	stroke:#231F20;
	stroke-width: 0.9px;
}
foreignObject > div {
	padding:0.5em;
	/*border:1px solid red;*/
}
foreignObject * {
	font-family: NotoSans, 'Noto Sans', sans-serif;
}
foreignObject h1,
foreignObject h2,
foreignObject h3,
foreignObject h4,
foreignObject h5,
foreignObject h6,
foreignObject p {
	margin:0;
	padding:0;
	text-align:center;
}

foreignObject ul,
foreignObject li {
	text-align:left;
}

foreignObject .sidebyside {
	display:inline-block;
	width:43%;
	vertical-align:top;
}

foreignObject > .headedList {
	font-size:1em;
}

foreignObject .headedList h1 {
	padding-bottom:0;
	margin-bottom:0;
	font-size:1em;
}
foreignObject > .headedList ul {
	margin:0;
	font-size:0.7em;
	padding-top:0;
	padding-left:1.5em;
}
























