/* latin */
@font-face {
  font-family:  "NotoSans";
  src:  url('../fonts/NotoSans/NotoSans-Regular.ttf');
  font-weight:  normal;
}

@font-face {
  font-family:  "NotoSans";
  src:  url('../fonts/NotoSans/NotoSans-Bold.ttf');
  font-weight:  bold;
}

@font-face {
  font-family:  "NotoSans";
  src:  url('../fonts/NotoSans/NotoSans-Light.ttf');
  font-weight:  100;
}